[project]
name = "motorrender"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.12"
dependencies = [
    "flask>=3.1.2",
    "gunicorn>=24.1.1",
    "numpy>=2.4.1",
    "opencv-python-headless>=4.13.0.90",
    "yt-dlp>=2025.12.8",
]
